* {
  margin: 0;
  padding: 0;
}
h1 {
  color: white;
}
body {
  background-color: rgb(219, 219, 219);
}

input {
  padding: 3px 3px 3px 3px;
  width: 200px;
}

h1 {
  font-style: normal;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  letter-spacing: 2px;
}
h2 {
  font-style: normal;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  letter-spacing: 2px;
}

ul {
  /* Safari */
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 20px, 20px, 20px, 20px;
  overflow: hidden;
  background-color: #234270;
}

li {
  border-right: 2px solid rgb(0, 0, 0);
  float: left;
}

li a {
  display: flex;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px 50px;
  text-decoration: none;
  font-family: sans-serif;
  height: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 16px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
  transition: 2s;
}
.search {
  display: flex;
}

.example {
  padding: 10px;
  width: 60%;
  margin-left: 250px;
  margin-top: 2px;
  margin-bottom: 1px;
  height: 15px;
  border-radius: 20px;
  display: flex;
  background: white;
}
.example input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  font-size: 16px;
  color: black;
}
.example .sear .img-search {
  width: 25px;
  top: 10%;
}
.example .sear {
  border: 0;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: white;
  cursor: pointer;
  margin-right: 20px;
  outline: none;
}

ul button:hover {
  background: #0b7dda;
  transition: 2s;
}

ul::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  padding: 10px 20px 10px 20px;
  background-color: #111;
}

h3 {
  font-style: normal;
  color: black;
  font-size: 40px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;

}

.containerb {
  background-color: black;
  color: rgb(248, 246, 246);
  word-spacing: 30px;
  padding-top: 2px;
}

.imgbox {
  padding-right: 20px;
  margin-top: 50px;
}

p {
  font-size: 26px;
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-bottom: 15px;
}
img:hover {
  width: 400px;
  height: 350px;
  transition: 1s;
}
.imagebox:hover {
  overflow: hidden;
}

.previous {
  background-color: #f1f1f1;
  color: black;
  padding-right: 20px;
  padding-left: 20px;
  height: 20px;
  transition: 1s;
}
.previous:hover {
  color: black;
  background-color: rgba(150, 141, 141, 0.712);
  transition: 1s;
}

input[type="submit"] {
  background-color: rgb(139, 20, 20);
  color: white;
  border: rgb(139, 20, 20);
  margin-left: 465px;
  height: 35px;
  width: 150px;
  margin-top: 45px;
  cursor: pointer;
  margin-bottom: 40px;
}
label {
  font-size: 20px;
  color: black;
  text-align: left;
}
h6 {
  font-size: 25px;
  color: black;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: bolder;
  text-transform: uppercase;

}
form {
  margin: 10px 50px 20px 100px;
}
