body{
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: #234270;
}
.container
{
    width: 350px;
    height: 525px;
    /* background: red; */
    overflow: hidden;
    background: #6980A1;
    border-radius: 10px;
    box-shadow: 5px 20px 50px rgba(190, 190, 190, 0.918);
    border: #C4CEDC;
}

#chk
{
    display: none;
}
.signup
{
    position: relative;
    width: 100%;
    height: 100%;

}
label{
    color: rgb(255, 255, 255);
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;cursor: pointer;
    transition: .5s ease-in-out;
}
input{
    width: 60%;
    height: 20px;
    background: rgb(216, 216, 216);
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding:10px;
    border-radius: 5px;
    border: none;
    outline: none;
}
button{
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: white;
    background: rgb(0, 0, 0);
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: .7s ease-in;
    cursor: pointer;
}
button:hover{
    background: rgba(172, 168, 168, 0.863);
    color: black;
    
}
.login{
    height: 460px;
    background: white;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;

}
.login label
{
    color: rgb(0, 0, 0) ;
    transform: scale(.6);
}
#chk:checked ~ .login{
    transform: translateY(-500px);
}
#chk:checked ~ .login label{
    transform: scale(1);
}
#chk:checked ~ .signup label{
    transform: scale(.6);
}
p{
    font-size: 14px;
    font-weight:bold ;
    color: red;
    margin: 0px 55px;
}







