<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Fake News Detector</title>
    <link rel="icon" href="../static/Images/fake.png">
    <link rel="stylesheet" href="../static/CSS/about_us.css" />
  </head>
  <body>
    <div class="heading">
      <h1>FAKE NEWS</h1>
      <h2>DETECTOR</h2>
    </div>
    <ul>
        <li><a href="" class="previous">&laquo; </a></li>
        <li><a href="/det">HOME</a></li>
        <li><a href="/feedback">FEEDBACK</a></li>
        <li><a href="/about">ABOUT US</a></li>
      
    </ul>
    <div class="row">
      <h3>WHO WE ARE?</h3>
      <p>
        Fake news detection is the task of detecting forms of news consisting of
        deliberate disinformation or hoaxes spread via traditional news media
        (print and broadcast) or online social media....<br />
        The issue of “fake news” has been a dominant theme in the headlines for
        several years. How do we define a term that has come to mean so many
        different things to different people?</p>
        <br />
        <p>At its core, we are defining “fake news” as those news stories that are
        false: the story itself is fabricated, with no verifiable facts, sources
        or quotes. Sometimes these stories may be propaganda that is
        intentionally designed to mislead the reader, or may be designed as
        “clickbait” written for economic incentives (the writer profits on the
        number of people who click on the story).</p>
        <br />
        <p>However, it’s important to acknowledge that “fake news” is a complex and
        nuanced problem, one that is far greater than the narrow definition
        above. The term itself has become politicized, and is widely used to
        discredit any opposing viewpoint. Some people use it to cast doubt on
        their opponents, controversial issues or the credibility of some media
        organizations. In addition, technological advances such as the advent of
        social media enable fake news stories to proliferate quickly and easily
        as people share more and more information online. Increasingly, we rely
        on online information to understand what is happening in our world.</p>
        
      </p>
      <video width="320" height="240" controls>
        <source src="../static/Images/animation video.mp4" type="video/mp4" />
      </video>
    </div>
  </body>
</html>
