<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fake News Detector</title>
    <link rel="icon" href="../static/Images/fake.png" />
    <link rel="stylesheet" href="../static/CSS/starting_page.css" />
  </head>
  <body>
    <div class="container">
      <h1 style="color: red; font-weight: bold">FAKE</h1>
      <h1 style="padding-left: 90px">NEWS DETECTOR</h1>
      <form action="/signup" method="post">
        <input type="submit" name="register" value="SIGN UP" />
      </form>

      <h3>Welcome to our</h3>
      <h4>FAKE NEWS</h4>
      <h4>DETECTOR</h4>
      <h5>
        “Fake news and rumors thrive online because few <br />verify what's real
        and always bias towards <br />content that reinforces their own
        biases”<br />
        - Ryan Higa
      </h5>
      <img class="home-image" src="../static/Images/home.png" />
    </div>
  </body>
</html>
